<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <title th:include=":: #pageTitle">OOOO購物網</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/img/favicon.ico" rel="shortcut icon" >
	<link href="/common/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="/common/css/font-awesome.min.css" rel="stylesheet"  crossorigin="anonymous">
	<script type="text/javascript" th:src="@{/common/js/jquery-2.2.4.min.js}"></script>
	<script type="text/javascript"src="/common/js/bootstrap.min.js"></script>

</head>
</html>